<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Furniture Store</title>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">    
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-custom navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}">Furniture Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="content text-center text-white masthead">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">Your One Stop</h1>
                    <h2 class="masthead-subheading mb-0">For All Your Furniture Needs</h2><a class="btn btn-primary border rounded-0 border-5 border-secondary-subtle btn-xl rounded-pill mt-5" role="button" href="/team">About Our Team</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <footer class="py-5 bg-black footer">
            <div class="container">
                <p class="text-center text-white m-0 small">&nbsp;Furniture Store © - Copyright&nbsp;2024</p>
                <hr>
                This site is a student prototype project created for educational purposes only.
            </div>
        </footer>
    </div>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>